<div class="footer">
    <a href="https://www.youtube.com/c/mybassistchris" target="_blank" class="fa fa-youtube"></a>
    <a href="https://www.instagram.com/mybassistchris" target="_blank" class="fa fa-instagram"></a>
    <a href="https://www.facebook.com/mybassistchris/" target="_blank" class="fa fa-facebook"></a>
    <a href="https://twitter.com/mybassistchris" target="_blank" class="fa fa-twitter"></a>
</div>

</body>

</html>