<div class="footer">
    <a href="https://www.youtube.com/c/chriskhalife" target="_blank" class="fa fa-youtube"></a>
    <a href="https://www.instagram.com/cwishkhalife/" target="_blank" class="fa fa-instagram"></a>
    <a href="https://www.facebook.com/Chris-Khalife-347247391986312/" target="_blank" class="fa fa-facebook"></a>
    <a href="https://twitter.com/chriskhalife" target="_blank" class="fa fa-twitter"></a>
</div>

</body>

</html>