
</head>

<body>
<div class="navbar-collapse sticky-top" id="navbarSupportedContent">
    <div class="container">
        <div class="topnav">
            <a class="btn" href="/">Home</a>
            <a class="btn" href="/bass-tabs">Bass Tabs</a>
            <a class="btn" href="/top-10-bass">Top 10 Bass</a>
            <a class="btn" href="/gear">Gear</a>
        </div>
    </div>
</div>