
</head>

<body>
<nav class="sticky-top navbar-expand-sm" id="navbarSupportedContent">
    <div class="topnav">
        <a class="navbar-brand btn" href="/">
            <img src="/img/logo.png" width="50" height="50" alt="">
        </a>
        <a class="btn b" href="/bass-tabs">BASS TABS</a>
        <a class="btn b" href="/top-10-bass">TOP 10 BASS</a>
        <a class="btn b" href="/gear">GEAR</a>
    </div>
</nav>