
</head>

<body>
<div class="navbar-collapse sticky-top" id="navbarSupportedContent">
    <div class="container">
        <div class="topnav">
            <a href="/">Home</a>
            <a href="#about">About</a>
            <a href="#gear">Gear</a>
            <a href="/bass-tabs">Bass Tabs</a>
            <a href="/top-10-bass">Top 10 Bass</a>
        </div>
    </div>
</div>