<% include ../partials/header %>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <title>Bass Tabs</title>
<% include ../partials/navbar %>


<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <h1>Artists</h1>
        <div class="list-group" id="artists">
            <input class="form-control" id="myInput" type="text" placeholder="Search...">
            <br>
            <% artists.forEach(function(artist){ %>  
                <a class="list-group-item" href="/bass-tabs/<%= artist.artistUrl %>"><%= artist.artist %></a>   
            <% }); %>
        </div>
        <br>
        <br>
    </div>
    <div class="col-1"></div>
</div>
<% include ../partials/footer %>




<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#artists a").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>