<% include ../partials/header %>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/main.css">
    <title>Failed to Open Page</title>
<% include ../partials/navbar %>
<br>
<h1 class="b tc">Failed to open tab</h1>

<% include ../partials/footer %>