<% include ../partials/header %>
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <title>My Bassist Chris</title>
<% include ../partials/navbar %>

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <br>
        <h1><%=artist%></h1>
        <br>
        <div class="list-group">

            <!-- Print list of song by artist -->
            <% songs.forEach(function(song) { %>
                <% var songUrl = artistUrl + "/" + song.songUrl; %>
                <a class="list-group-item" href=<%= songUrl %>><%= song.songTitle %></a>
            <% }); %>
        </div>
        <br>
        <br>
    </div>
    <div class="col-1"></div>
</div>

<% include ../partials/footer %>

<script>
$(document).ready(function() {
    document.title = "<%=artist%>" + " Bass Tabs";
});
</script>