<% include ../partials/header %>
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <title>My Bassist Chris</title>
<% include ../partials/navbar %>

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <br>
        <h1><%=artist%></h1>
        <br>
        <div class="list-group">
            <% songs.forEach(function(song) { %>
                <% var songUrl = artist.replace(/ /g, "") + "/" + song.slice(0,-5); %>
                <% var songTitle = song.slice(0, -14).replace(/-/g, " ");; %>
                <a class="list-group-item" href=<%= songUrl %>><%= songTitle %></a> <!-- Replace all with /phrase/g -->
            <% }); %>
        </div>
    </div>
    <div class="col-1"></div>
</div>

<% include ../partials/footer %>

<script>
$(document).ready(function() {
    document.title = "<%=artist%>" + " Bass Tabs";
});
</script>