<h1><%=songName %></h1>

<div style="width:100%;overflow:auto;white-space:nowrap;font-size:small;line-height:normal"><font face="courier new, monospace">

<div id="tab">
    <%- include(songPath) %>
</div>

</font></div>