<% include ../partials/header %>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/main.css">
    <title><%= song.songTitle %> Bass Tab</title>
<% include ../partials/navbar %>
<script src="javascript/tabjs"></script>

<div class="container-fluid tab-container">
<br><br>
<div class="row">
    <div class="col-lg-6 col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="width: 30%"></th>
                    <th scope="col"></th>
                </tr>
            <tbody>
            </thead>
                    <th scope="row">Song: </th>
                    <td><%= song.songTitle.slice(0,-9) %></td>
                </tr>
                <tr>
                    <th scope="row">Artist:</th>
                    <td><%= song.artist %></td>
                </tr>
                <tr>
                    <th scope="row">Tuning:</th>
                    <td id="tuning">Standard: E A D G</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-6 col-md-10">
        <div class="sticky-top" id="video">
        <!--Video inserted here with JS-->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">    
            <div class="tab" id="tab">
                <%- include(filePath) %>
            </div>
        </div>
    </div>
</div>
</div>

<% include ../partials/footer %>

<script>

$(document).ready(function() {
    if($(".videoUrl").length > 0) { //If tab is associated with video
        var videoUrl = document.querySelector(".videoUrl").innerHTML;
        document.querySelector(".videoUrl").innerHTML = "";
        var containerWidth = $(".tab-container").width();
        var tabWidth = $(".tab").width();
        console.log(containerWidth + " " + tabWidth);
        var widthDiff = containerWidth - tabWidth;
        if(widthDiff < 400) {
            document.querySelector("#video").innerHTML = "<iframe width=\"425\" height=\"260\" src=\"https://www.youtube.com/embed/" + videoUrl + "\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
        }
        else {
            document.querySelector("#video").innerHTML = "<iframe width=\"560\" height=\"315\" src=\"https://www.youtube.com/embed/" + videoUrl + "\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"
        }
    }
    if($("#tuning").length > 0) {
        document.querySelector("#tuning").innerHTML = document.querySelector(".tuning").innerHTML;
        document.querySelector(".tuning").innerHTML = "";
    }
    
});

</script>