body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100vh;
}

a:hover {
  color: #179b53;
}


h1 {
  font-size: 300%;
  margin: .4em 0;
}

iframe {
  max-width: 95%;
}

ul {
  display: inline-block;
}

/* Custom Classes */ 

.about {
  width: 80%;
  padding-right: 40px;
}

#aboutimg {
  object-fit: contain;
  position:relative;
  max-height: 560px;
  top: 50%;
  transform: translateY(-50%);  
  width: 70%;
}

.banner {
  max-width: 100%;
}

.footer {
  background-color: rgba(55, 55, 55, .9);
  bottom: 0;
  padding: 10px;
  height: 60px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.gear-container {
  padding: 0px 20px !important;
}

.gearimg {
  height: 300px;
  object-fit: contain;
}

.gray-text {
  color: rgba(55, 55, 55, .9);
}

.home-bottom {
  /*background-color: rgba(55, 55, 55, .9); */
  padding: 5px 0px 20px;
}

.home-middle {
  background-color: rgb(23, 155, 83);
  color: white;
  padding: 5px 0px 20px;
  opacity: 0.9;
}

.latest-video {
  margin-bottom: 40px;
}

.main {
  background-color: rgba(23, 155, 83, .8);
  border-color: white;
  border-width: 5px;
  border-style: double;
  color: white;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 70px;
  opacity: 0.9;
  width: 90%;
}

.navTransparent {
  background-color: none;
}

.iframe-container {
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.schedule-item {
  background-color: inherit;
}

.tab {
  display: inline-block;
  overflow:auto;
  white-space:nowrap;
  font-size:small;
  line-height:normal;
  font-family: "courier new", monospace;
}

.tab-container {
  margin-left: 20px;
}

.thumbnail img {
  width: 100%;
  height: 350px;
}

.thumbnail {
  padding: 0;
}

#video {
  position: fixed;
  top: 80px;
  right: 0;
}

.video-schedule {
  font-size: 14px;
  margin: auto;
  max-width: 80%;
  width: 640px;
  position: relative;
  top: 30%;
  transform: translateY(-50%);*/
}

.video-schedule a {
  text-decoration: underline;
}

.video-schedule a:hover {
  color: #179b53;
  transition-duration: 0.4s;
}





/* Bootstrap */ 

.container-fluid {
  padding: 0;
}

.row {
  display: flex;
}

.navbar-brand {
  background-color: transparent;
  margin: 5px 0px 5px 20px;
  padding: 0px !important;
  width: 110px;
}

.topnav {
  background-color: rgba(55, 55, 55, .9); /* #373737 */
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav .btn {
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  opacity: 0.7;
  transition-duration: .6s;
}

/* Social Media */

.fa {
  padding: 10px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 50%;
  color: #373737;
  background: white;
}

.fa:hover {
  transform: scale(1.3);
  transition-duration: .6s;
}


/* Mobile */
@media (max-width: 600px) {

  body {
    font-size: 12px;
  }

  h1 {
    font-size: 200%;
    margin: .8em 0;
  }

  iframe {
    width: 320px;
    height: 240px;
  }

  #aboutimg {
    height: 300px;
  }

  .col-md-6 {
    margin-bottom: 30px;
  }

  .gearimg {
    max-height: 200px;
  }

  .home-section {
    margin: 30px auto;
  }

  .navbar-brand {
    padding: 0px !important;
    margin: 3px 0px;
    width: 80px;
  }

  .row {
    margin-bottom: 0px;
  }

  .topnav .btn {
    font-size: 12px;
    padding: 14px 6px;
  }
}

@media (max-width: 1000px) {
  #video {
    position: static;
  }
}