<% include ../partials/header %>

<div class="banner text-center">
    <a href="https://fontmeme.com/fonts/28-days-later-font/"><img src="https://fontmeme.com/permalink/190910/10d94900c16d0c45bdbdb519236c55de.png" alt="28-days-later-font" border="0"></a>
</div>

<div class="home text-center">
    <h1><b>Latest Video</b><h1>
    <iframe width="720" height="405" src="https://www.youtube.com/embed/?listType=playlist&list=UU87a3QDWF6Q3uLBZk8VEwog" frameborder="0" allowfullscreen></iframe>
    <br>
    <h3>Covers/Videos Coming Soon</h3>
    <div class="list-group coming-soon">
        <a href="#" class="list-group-item">Top 10 Bass: Paramore</a>
        <a href="#" class="list-group-item">EHX Bass Big Muff Demo</a>
    </div>
</div>

<% include ../partials/footer %>