<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

<body>
<div class="navbar-collapse odd" id="navbarSupportedContent">
    <div class="container">
        <div class="topnav">
            <a href="#home">Home</a>
            <a href="/bass-tabs">Bass Tabs</a>
            <a href="#about">About</a>
            <a href="#gear">Gear</a>
        </div>
    </div>
</div>

<div class="banner text-center even">
    <a href="https://fontmeme.com/fonts/28-days-later-font/"><img src="https://fontmeme.com/permalink/190910/10d94900c16d0c45bdbdb519236c55de.png" alt="28-days-later-font" border="0"></a>
</div>

<div class="home text-center odd">
    <h1>Latest Video<h1>
    <iframe width="720" height="405" src="https://www.youtube.com/embed/?listType=playlist&list=UU87a3QDWF6Q3uLBZk8VEwog" frameborder="0" allowfullscreen></iframe>
    <br>
    <h3>Covers/Videos Coming Soon</h3>
    <div class="list-group coming-soon">
        <a href="#" class="list-group-item">Top 10 Bass: Paramore</a>
        <a href="#" class="list-group-item">EHX Bass Big Muff Demo</a>
    </div>
</div>

<div class="footer even">
    <a href="https://www.youtube.com/c/chriskhalife" target="_blank" class="fa fa-youtube"></a>
    <a href="https://www.instagram.com/cwishkhalife/" target="_blank" class="fa fa-instagram"></a>
    <a href="https://www.facebook.com/Chris-Khalife-347247391986312/" target="_blank" class="fa fa-facebook"></a>
    <a href="https://twitter.com/chriskhalife" target="_blank" class="fa fa-twitter"></a>
</div>

</body>

</html>