<% include ../partials/header %>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <title>Gear</title>
<% include ../partials/navbar %>
<div class="container-fluid bg-washed-green gear-container">
<br>
<h1 class="tc b gray-text">CURRENT GEAR</h1>
<br>
<div class="row">
    <% currentGear.forEach(function(gear) { %>
        <div class="col-md-3 col-sm-4 col-6">
            <div class="tc dib pa3 ma2 grow bw2 shadow-5 w-100 bg-white">
                <img class="gearimg" src="img/<%=gear.image %>">
                <br>
                <%= gear.gear %>
            </div>
        </div>
    <% }); %>
</div>
<br>
<h1 class="tc b gray-text">OTHER GEAR</h1>
<br>
<div class="row">
    <% otherGear.forEach(function(gear) { %>
        <div class="gear col-md-3 col-sm-4 col-6">
            <div class="tc dib pa3 ma2 grow bw2 shadow-5 w-100 bg-white">
                <img class="gearimg" src="img/<%=gear.image %>">
                <br>
                <%= gear.gear %>
            </div>
        </div>
    <% }); %>
</div>
</div>
<% include ../partials/footer %>