<% include ../partials/header %>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <title>Gear</title>
<% include ../partials/navbar %>

<br>
<h2 class="tc">Current Gear</h2>
<br>
<h4 class="tc">Coming soon...</h4>
</div>

<br>
<br>
<br>

<% include ../partials/footer %>