<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
<title>Gear</title>
<% include ../partials/navbar %>

<br>
<br>
<br>

<div class="container">
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <div class="col-md-3 col-sm-6 test" style="background: url(img/pedals/AguilarAgro.png)">
                <div class="thumbnail">
                   <div class="caption">
                       <h4>Pedal Name</h4>
                   </div>
                </div>
            </div>
    </div>
</div>

<br>
<br>
<br>

<% include ../partials/footer %>