<% include ../partials/header %>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <title>Gear</title>
<% include ../partials/navbar %>

<div class="row" id="gear">
    <div class="col-1"></div>
        <div class="col-10">
            <h1 class="text-center">Gear</h1>
            <br>
            <h4 class="text-center">Coming soon...</h3>
        </div>
    <div class="col-1"></div>
</div>

<br>
<br>
<br>

<% include ../partials/footer %>