<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
<title>Gear</title>
<% include ../partials/navbar %>

<br>
<br>
<br>
<h1>Gear Here</h1>
<br>
<br>
<br>

<% include ../partials/footer %>